nav ul{
    display: flex;
   
}
nav li{
    list-style: none;
    padding: 0px 10px;
}
nav li a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    font-size: 2em;

}
nav li a:hover{
background: blueviolet;
color: aliceblue
}